<%inherit file="base.htm" />

<%block name="content">
    <div class="jumbotron">
        <h1 class="display-3">Inventory Tracking System</h1>
        <hr class="my-4">
      </div>
      <div class="container">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Description</th>
              <th scope="col">Manufacturer</th>
              <th scope="col">Notes</th>
              <th scope="col">Part Number</th>
              <th scope="col">Date Created</th>
            </tr>
          </thead>
          %for p in products:
            <tbody>
              <tr>
                <th scope="row">${ p.org_tag }</th>
                <td>${ p.description }</td>
                <td>${ p.manufacturer }</td>
                <td>${ p.man_notes }</td>
                <td>${ p.man_part_number }</td>
                <td>${ p.date }</td>
              </tr>
            </tbody>
          %endfor
        </table>
      </div>
</%block>